{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.css' %}">
<div class="topnav">
    <div class="nav-padding">
        <a href="{% url 'index' %}" title="Формы">
            <img src="{% static 'Icon/index.svg' %}" alt="Med Forms Icon" class="navbar-icon form-icon">
        </a>
        <span class="nav-logo-text" title="Формы"><a href="{% url 'index' %}" class="nav-link">Medical Forms</a></span>
        <div class="right-nav-items">
            {% if request.user.is_superuser or request.user.is_staff %}
            <span class="nav-text"><a href="{% url 'user_list' %}" class="nav-link"><i class="bi bi-people"></i> Пользователи</a></span>
            {% endif %}
            {% if request.user.is_staff %}
            <span class="nav-text"><a href="{% url 'manage_medical_centers' %}" class="nav-link"><i class="bi bi-hospital"></i> Медцентры</a></span>
            {% endif %}
            {% if user.is_authenticated %}
                <span class="nav-text"><a href="{% url 'edit_profile' %}" class="nav-link"><i class="bi bi-person"></i> Профиль</a></span>
                <span class="nav-text"><a href="{% url 'logout' %}" class="nav-link"><i class="bi bi-box-arrow-right"></i> Выйти</a></span>
            {% else %}
                <span class="nav-text"><a href="{% url 'login' %}" class="nav-link"><i class="bi bi-box-arrow-in-right"></i> Войти</a></span>
            {% endif %}
        </div>
    </div>
</div>  