{% extends 'index/layout.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
<div class="container">
    <div class="message-box">
        <h1>Проверьте почту</h1>
        <p>Мы отправили вам инструкции по сбросу пароля на указанный адрес электронной почты. Вы должны получить их в ближайшее время.</p>
        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, который вы указывали при регистрации, и проверьте папку со спамом.</p>
        <a href="{% url 'login' %}">Вернуться на страницу входа</a>
    </div>
</div>
{% endblock %}
